.navbarFrame{
    display : flex;
    margin-top : 20px;
    /* border-bottom : 2px solid #EAA0A0; */
    /* border: 1px solid black; */
}

.navbuttonContainer{
    /* border : 1px solid black; */
    width : 70vw;
}

.addAdmin,
.logout{
    width : 140px;
    height : 40px;
    border: 3px solid #B28D0A;
    font-size : 20px;
    font-weight : bold;
    border-radius : 30px;
    background-color: white;
    transition: .5s;
    margin-left : 50px;
    margin-right : -100px;
}

.addAdmin:hover,
.logout:hover{
    background-color: #B28D0A;
    color : white;
}
