.formlistWrapper {
    display : flex;
    flex-direction: column;
    /* border : 1px solid black; */
}

.formlistInfo {
    display : flex;
    flex-direction: column;
    /* border : 1px solid black; */
}

.listCategory {
    font-size : 40px;
    margin-top : 5px;
}

.listCount {
    font-size : 20px;
    margin : 10px 0;
}