@font-face {
  font-family: 'Ownglyph_ryuttung-Rg';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryuttung-Rg.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.pathWrapper {
  font-family: 'Ownglyph_ryuttung-Rg';
  width : 100%;
  display : flex;
  flex-direction: column;
  align-items: center;
  /* border: 3px solid black; */
}

.pathtitle {
  width : 90%;
  text-align: center;
  font-size : 30px;
  margin-top : 10px;
  margin-bottom: 15px;
  background-color: white;
  border-radius: 10px;
  border : 1px solid white;
}

.link {
  position: relative; /* Required to position the pseudo-element */
  border: 3px solid black;
  background-color: white;
  width: 14vw;
  margin-top: 10px;
  border-radius: 5px;
  line-height : 150px;
  height: 150px;
  font-size: 20px;
  font-weight : 700;
  text-align: center;
  overflow: hidden; /* Ensure the pseudo-element doesn't overflow */
}

.link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); /* Initial transparent background */
  transition: background 0.4s ease-in-out;
  z-index: 1;
}

.link:hover::before {
  background: rgba(0, 0, 0, 0.2); /* Darkened and semi-transparent on hover */
}

.link:hover {
  color: black;
  border-radius: 30px;
  height: 150px;
  font-size: 25px;
  font-weight: 900;
  text-align: center;
  transition: .4s;
}

.link * {
  position: relative; /* Ensure text and children are above the pseudo-element */
  z-index: 2;
}

/* 
.link{
  border : 3px solid black;
  background-color: white;
  width : 14vw;
  margin-top : 10px;
  border-radius: 5px;
  height: 150px;
  font-size : 20px;
  text-align: center;
}

.link:hover {
  color : black;
  border-radius: 30px;
  height: 150px;
  font-size : 25px;
  font-weight : 700;
  text-align: center;
  transition: .4s;
} */

.kpLearningPage{
  background-image: url('../../../public/images/KNU_LMS.png');
}

.kpMainPage{
  background-image: url('../../../public/images/KNU_MAINPAGE.png');
}

.cseMainPage {
  background-image: url('../../../public/images/CSE_MAIN.png');
}

.cseNoticePage {
  background-image: url('../../../public/images/CSE_NOTICE.png');
}
