@font-face {
    font-family: 'KCC-Hanbit';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/KCC-Hanbit.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.survey-form{
    font-family: 'KCC-Hanbit';
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
}

.titlewrap{
    font-family: 'KCC-Hanbit';
    display: flex;
    flex-direction: row;
    margin-top: 2vh;
}

.title{
    font-family: 'KCC-Hanbit';
    width: 50vw;
    height: 4vh;
    border-radius: 0.5vh;
}

.addCategory{
    font-family: 'KCC-Hanbit';
    margin-top: 1vh;
    width: 60vw;
    height: 3vh;
    border-radius: 0.5vh;
    border : 0.5px solid grey;
}

.description{
    font-family: 'KCC-Hanbit';
    margin-top: 1vh;
    width: 60vw;
    height: 8vh;
    border-radius: 1vh;
}

.dateWrap{
    font-family: 'KCC-Hanbit';
    display: flex;
    flex-direction: row;
    margin-top: 1vh;
}

.dateinput{
    font-family: 'KCC-Hanbit';
    margin-left: 1vw;
}

.enddate{
    font-family: 'KCC-Hanbit';
    margin-left: 5vw;
}

.questionTitleWrap{
    font-family: 'KCC-Hanbit';
    margin-left: 2vw;
    margin-top: 2vh;
}

.questionTitle{
    font-family: 'KCC-Hanbit';
    width: 48vw;
    height: 5vh;
    border-radius: 0.5vh;
}

.submitbutton{
    font-family: 'KCC-Hanbit';
    margin-left: 1vw;
    width: 4vw;
    height: 4vh;
    border-radius: 1vh;
    border : 2px solid black;
    background-color: white;
    font-weight: bold;
    transition: .4s;
}

.submitbutton:hover{
    font-family: 'KCC-Hanbit';
    margin-left: 1vw;
    width: 4vw;
    height: 4vh;
    border-radius: 1vh;
    border : 2px solid black;
    background-color: black;
    font-weight: bold;
    color : white
}

.deletebutton{
    font-family: 'KCC-Hanbit';
    margin-left: 1vw;
    width: 4vw;
    height: 4vh;
    border-radius: 1vh;
    border : 2px solid red;
    background-color: white;
    font-weight: bold; 
    transition: .4s;
}

.deletebutton:hover{
    font-family: 'KCC-Hanbit';
    margin-left: 1vw;
    width: 4vw;
    height: 4vh;
    border-radius: 1vh;
    border : 2px solid red;
    background-color: red;
    font-weight: bold; 
    color : white
}

.firstinput{
    font-family: 'KCC-Hanbit';
    width: 75%;
    height: 40%;
    margin-left: 2vw;
    border : 1px solid black;
    border-radius: 1vh;
}

.secondinputwrap{
    font-family: 'KCC-Hanbit';
    margin-bottom: 1vh;
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
}

.secondinput{
    font-family: 'KCC-Hanbit';
    width: 40vw;
    height: 4vh;
}

.optiondeletebuttonwrap{
    font-family: 'KCC-Hanbit';
    margin-left: 1vw;
    align-content: center;
}

.optiondeletebutton{
    font-family: 'KCC-Hanbit';
    width: 4vw;
    height: 4vh;
    border-radius: 1vh;
    background-color: white;
    border : 1px solid green;
    font-weight: bold;
    transition: .4s;
}

.optiondeletebutton:hover{
    font-family: 'KCC-Hanbit';
    width: 4vw;
    height: 4vh;
    border-radius: 1vh;
    background-color: green;
    border : 1px solid green;
    font-weight: bold;
    color : white 
}

.question{
    font-family: 'KCC-Hanbit';
    display: flex;
    flex-direction: column;
}

.makerow{
    font-family: 'KCC-Hanbit';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.deleteqwrap {
    font-family: 'KCC-Hanbit';
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 1vh;
    margin-right: 1vw;
}

.addoptionwrap{
    font-family: 'KCC-Hanbit';
    display: flex;
    justify-content: flex-end;
    margin-top: 1vh;
    margin-right: 1vw;
}

.addoption {
    font-family: 'KCC-Hanbit';
    width: 8vw;
    height: 4vh;
    border-radius: 2vh;
    border : 3px solid black;
    background-color: white;
    font-weight: bold;
    transition: .4s;
}

.addoption:hover {
    font-family: 'KCC-Hanbit';
    width: 8vw;
    height: 4vh;
    border-radius: 2vh;
    border : 3px solid black;
    background-color: black;
    font-weight: bold;
    color: white;
}


.questionadd{
    font-family: 'KCC-Hanbit';
    width: 60vw;
    height: 7vh;
    border : 3px solid grey;
    border-radius: 2vh;
    margin-top: 2vh;
    background-color: white;
    font-weight: bold;
    transition: .4s;
}

.questionadd:hover{
    font-family: 'KCC-Hanbit';
    width: 60vw;
    height: 7vh;
    border : 3px solid grey;
    border-radius: 2vh;
    margin-top: 2vh;
    background-color: grey;
    font-weight: bold;
    color : white
}

.question{
    font-family: 'KCC-Hanbit';
    display: flex;
    flex-direction: column;
    min-height: 140px;
    height: auto;
    border: 2px solid black;
    border-radius: 2vh;
    margin-top: 5vh;
}

.selectoptionwrap{
    font-family: 'KCC-Hanbit';
    display: flex;
    justify-content: flex-end;
    margin-top: 1vh;
    margin-right: 1vw; 
}

.selectoption{
    font-family: 'KCC-Hanbit';
    width: 8vw;
    height: 4vh;
    border : 3px solid skyblue;
    border-radius: 1vh;
    background-color: white;
    font-weight: bold;
}

.deleteq{
    font-family: 'KCC-Hanbit';
    margin-top: 1vh;
    width: 8vw;
    height: 4vh;
    border: 3px solid grey;
    border-radius: 2vh;
    background-color: white;
    font-weight: bold;
    transition: .4s;
}

.deleteq:hover{
    font-family: 'KCC-Hanbit';
    width: 8vw;
    height: 4vh;
    border: 3px solid grey;
    border-radius: 2vh;
    background-color: grey;
    font-weight: bold; 
    color : white
}