.content-wrap{
    width: 60vw;
    border : 1px solid black;
    border-radius: 1vh;
}

.survey-wrap{
    margin-left: 2vw;
    margin-bottom: 1vh;
}

.optionWrap{
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
}

.optionName{
    font-weight: bold;
    font-size: 2.5vh;
    margin-bottom: 1vh;
}

.firstinput{
    width: 30vw;
    height: 5vh;
}