@font-face {
    font-family: 'Ownglyph_ryuttung-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_ryuttung-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.voteListWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.voteListInfo {
    font-family: 'Ownglyph_ryuttung-Rg';
    display: flex;
    flex-direction: row;
    width: 70vw;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
}

.listCount {
    font-size : 20px;
    width : 8vw;
    text-align: center;
    margin-left: 2vw;
    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
}

.addVotebutton {
    font-family: 'Ownglyph_ryuttung-Rg';
    font-size : 18px;
    margin-top: 0.8vh;
    margin-left: 2vw;
    margin-right : 1vw;
    width: 8vw;
    height: 4vh;
    border-radius: 1vh;
    border: 2px solid black;
    background-color: white;
    font-weight: bold;
    transition: .4s;
}

.addVotebutton:hover {
    border: 2px solid white;
    background-color: black;
    color : white;

}